<% if logged_in? %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="spell_form">
      <%= render 'shared/spell_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Spell Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% else %>
<div class="center jumbotron">
  <h1>Dungeon Master Workshop</h1>
  <h2>
    Here you will be able to create your enconters, your spells, your treasure for the epic adventures you've come up for your party.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

<% end %>