<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.fields_for :spells do |spell| %>
      <% render 'spell_fields', f: spell %>
  <% end %>

  <%= link_to_add_association 'add spell', f, :spells %>
</div>
