<h1>Spellbook#index</h1>
<p>Find me in app/views/spellbook/index.html.erb</p>



<table>
  <% @spellbooks.each do |spellbook| -%>
      <tr>
        <td><a href="<%= spellbook_path(spellbook) %>"><%= spellbook.name %></a></td>
        <td>
          <%= link_to edit_spellbook_path(spellbook), 'aria-label' => 'edit' do -%>
              <span class="glyphicon glyphicon-pencil"></span>
          <% end -%>
        </td>
        <td>
          <%= link_to spellbook, method: :delete, data: { confirm: "You sure?" }, 'aria-label' => 'delete' do -%>
              <span class="glyphicon glyphicon-remove"></span>
          <% end -%>
        </td>
      </tr>
  <% end -%>
</table>

<a href="<%= new_spellbook_path %>">new spellbook</a>
