<div>
  <%= f.label :title, 'Action' %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, 'remove' %>
  <%= f.text_field :title %>
  <%= f.label :description, 'Detail' %>
  <%= f.text_field :description %>
</div>