<div class="form-group form-group-sm row small-padding">
  <%#= f.label :skill_id, 'Skill' %>
  <div class="col-xs-6">
    <%= f.collection_select :skill_id, Skill.all, :id, :name, {}, { class: 'form-control' } %>
  </div>
  <div class="col-xs-3">
    <%= f.text_field :value, class: 'form-control col-xs-3 input-sm' %>
  </div>
  <%= content_tag :div, class: 'col-xs-3' do %>
      <%= content_tag :div, class: 'checkbox' do %>
          <%= f.label :_destroy do %>
              <%= f.check_box(:_destroy) %>remove
          <% end %>
      <% end %>
  <% end %>
</div>
