<% provide(:title, 'All monsters') %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row"><h1>All monsters</h1></div>
    <div class="row">
      <%= form_tag monsters_path, method: 'get', id: "monsters_search" do %>

      <%= text_field_tag :search, params[:search], class: "form-control", autocomplete: 'off' %>
      <%= content_tag :div, @error.html_safe, class: 'alert alert-danger' if @error %>
      <%= submit_tag "Search", class: "btn btn-primary", name: nil -%>
      <%= link_to "New", new_monster_path, class: 'btn btn-default', role: 'button' -%>
      <%= link_to "Print", print_monsters_path(search: params[:search]), class: 'btn btn-default', target: '_blank', role: 'button' %>
    </div>
    <div class="row">
      <div class="monsters">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>CR</th>
            <th colspan="99"></th>
          </tr>
          <%= render @monsters %>
        </table>
        
        <%= render partial: 'modal', collection: @monsters, as: :monster %>
      </div>

      <%= will_paginate %>
    </div>
    <% end %>
  </div>
</div>
