<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.spells.any? %>
      <h3>Filters (<%= @user.filters.count %>)</h3>
      <h3>Cards (<%= @user.cards.count %>)</h3>
      <h3>Items (<%= @user.items.count %>)</h3>
      <h3>Monsters (<%= @user.monsters.count %>)</h3>
      <h3>Spells (<%= @user.spells.count %>)</h3>
    <% end %>
  </div>
</div>
