<div class="modal-body">
  <button type="button" class="btn btn-default btn-circle close-edge" data-dismiss="modal">
    <span class="bi bi-trash"></span></button>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-xs-12">
        <ul class="pager">
          <li class="previous">
            <a href="#" data-toggle="modal" data-dismiss="modal" data-target="<%= prev_index %>"><span aria-hidden="true">&larr;</span>
              Older</a></li>
          <li class="next"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="<%= next_index %>">Newer
            <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <% unless yield.present? %>
          <% with_details = has_description?(card) %>
          <div class="col-xs-12 <%= 'col-md-6' if with_details || (modal_size == 'modal-lg') %>">
            <div class="center-block">
              <%= render 'shared/card_card', card: card.card_data %>
            </div>
          </div>
          <% if with_details %>
              <div class="col-xs-12 col-md-6">
                <%= render 'shared/card_detail', card: card.card_data %>
              </div>
          <% end %>
      <% else %>
          <%= yield %>
      <% end %>
    </div>
  </div>
</div>
