<div id="spell-<%= spell.id %>" class="detail">
  <div class="card-title"><%= spell.name %></div>
  <div class="card-content-container">
    <div class="card-element card-subtitle"><%= "#{spell.level} level #{spell.school}" %></div>
    <svg class="card-ruler" height="1" width="100" viewBox="0 0 100 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">    <polyline points="0,0 100,0.5 0,1" fill="black"></polyline></svg>
    
    <div class="card-subtitle"><%= spell.hero_classes.map(&:name).join(', ') %></div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Casting Time</h4>
      <p class="card-property-text"><%= spell.casting_time %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Range</h4>
      <p class="card-property-text"><%= spell.range %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Components</h4>
      <p class="card-property-text"><%= spell.components %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Duration</h4>
      <p class="card-property-text"><%= spell.duration %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Concentration</h4>
      <p class="card-property-text"><%= spell.concentration %></p>
    </div>
    <svg class="card-ruler" height="1" width="100" viewBox="0 0 100 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">    <polyline points="0,0 100,0.5 0,1" fill="black"></polyline></svg>
    <div class="card-element card-description-line">
      <h4 class="card-description-name">Short description</h4>
      <p class="card-description-text"><%= raw(spell.short_description) %></p>
    </div>
    <div class="card-element card-description-line">
      <h4 class="card-description-name">At higher level</h4>
      <p class="card-description-text"><%= spell.athigherlevel %></p>
    </div>
    <div class="card-element card-description-line">
      <h4 class="card-description-name">Long description</h4>
      <p class="card-description-text"><%= raw(spell.description) %></p>
    </div>
  </div>
</div>
