<tr>
  <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-<%= spell_counter %>">
  o
</button></td>
  <td><%= spell.name %></td>
  <td><%= spell.level %></td>
  <td><%= spell.school %></td>
  <td><%= spell.hero_classes.map(&:name).join(', ') %></td>
  <% if admin_user? %>
      <td><%= link_to edit_spell_path(spell) do -%>
            <span class="glyphicon glyphicon-pencil" aria-label="edit"></span>
        <% end -%>
      </td>
      <td><%= link_to spell, method: :delete, data: { confirm: "You sure?" } do -%>
            <span class="glyphicon glyphicon-remove" arial-label="delete"></span>
        <% end -%>
      </td>
  <% end %>
</tr>
