<%
  index = card_counter
  next_index = (index + 1)%@cards.size
  prev_index = (index - 1)%@cards.size
  large ||= false
  modal_size = (large == true) ? 'modal-lg' : 'modal-sm'
%>

<tr>
  <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-<%= index %>" data-size="<%= modal_size %>" data-previd="#myModal-<%= prev_index %>" data-nextid="#myModal-<%= next_index %>" data-card="<%= "/#{card.class.model_name.human.downcase.pluralize}/#{card.id}/modal" %>">
  o
  </button></td>
  <td><%= card.name %></td>
  <td><%= card.level %></td>
  <td><%= card.school %></td>
  <td class="last">
    <% if admin_user? %>
        <ul class="actions">
          <li><%= link_to edit_spell_path(card), 'aria-label' => 'edit' do -%>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end -%>
          </li>
          <li><%= link_to duplicate_spell_path(card), method: :post, 'aria-label' => 'duplicate' do -%>
                <span class="glyphicon glyphicon-duplicate"></span>
            <% end -%>
          </li>
          <li><%= link_to card, method: :delete, data: { confirm: "You sure?" }, 'aria-label' => 'delete' do -%>
                <span class="glyphicon glyphicon-remove"></span>
            <% end -%>
          </li>
        </ul>
    <% end %>
  </td>
</tr>
