<tr>
  <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-<%= spell_counter %>">
    o
  </button></td>
  <td><%= spell.name %></td>
  <td><%= spell.level %></td>
  <td><%= spell.school %></td>
  <td><%= spell.hero_classes.map(&:name).join(', ') %></td>
  <td class="last">
    <% if admin_user? %>
        <ul class="actions">
          <li><%= link_to edit_spell_path(spell), 'aria-label' => 'edit' do -%>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end -%>
          </li>
          <li><%= link_to duplicate_spell_path(spell), method: :post, 'aria-label' => 'duplicate' do -%>
                <span class="glyphicon glyphicon-duplicate"></span>
            <% end -%>
          </li>
          <li><%= link_to spell, method: :delete, data: { confirm: "You sure?" }, 'aria-label' => 'delete' do -%>
                <span class="glyphicon glyphicon-remove"></span>
            <% end -%>
          </li>
        </ul>
    <% end %>
  </td>
</tr>
