<tr>
  <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-<%= spell.id %>">
  o
</button></td>
  <td><%= spell.name %></td>
  <td><%= spell.level %></td>
  <td><%= spell.school %></td>
  <td><%= spell.classes %></td>
  <% if admin_user? %>
  <td><%= link_to "edit", edit_spell_path(spell) %></td>
  <td><%= link_to "delete", spell, method: :delete, data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>

<!-- Modal -->
<div class="modal fade" id="myModal-<%= spell.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'shared/spell', spell: spell %>
      </div>
    </div>
  </div>
</div>
