<div id="spell-<%= spell.id %>" class="card .card-size-25x35">
  <div class="card-title"><%= spell.name %></div>
  <div class="card-content-container">
    <div class="card-element card-subtitle"><%= "#{spell.level} level #{spell.school}" %></div>
    <div class="card-subtitle"><%= spell.classes %></div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Casting Time</h4>
      <p class="card-property-text"><%= spell.casting_time %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Range</h4>
      <p class="card-property-text"><%= spell.range %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Components</h4>
      <p class="card-property-text"><%= spell.components %></p>
    </div>
    <div class="card-element card-property-line">
      <h4 class="card-property-name">Duration</h4>
      <p class="card-property-text"><%= spell.duration %></p>
    </div>
    <span class="card-fill" style="-webkit-flex:2; flex:2;">
    </span>
    <div class="card-element card-description-line">
      <p class="card-description-text"><%= spell.short_description %></p>
    </div>
    <div class="card-element card-description-line">
      <p class="card-description-text"><%= spell.description %></p>
    </div>
    <span class="card-fill" style="-webkit-flex:3; flex:3;">
    </span>
  </div>
</div>
<div class="card-actions">
  <% if admin_user? %>
  <%= link_to "edit", edit_spell_path(spell) %><br/>
  <%= link_to "delete", spell, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</div>
