<% provide(:title, 'All spells') %>
<h1>Spells</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_tag spells_path, :method => 'get', :id => "spells_search" do %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    
      <div class="spells">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Level</th>
            <th>School</th>
            <th>Classes</th>
          </tr>
        <%= render @spells %>
        </table>
      </div>

      <%= will_paginate %>
    <% end %>
  </div>
</div>
