<% provide(:title, @card.name) %>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Name: <%= @card.name %></li>
      <li>School: <%= @card.school %></li>
      <li>Level: <%= @card.level %></li>
      <li>At higher levels: <%= @card.athigherlevel %></li>
      <li>Description: <%= @card.description %></li>
    </ul>
  </div>
</div>
