<tr>
  <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-<%= item_counter %>">
  o
</button></td>
  <td><%= item.name %></td>
  <td><%= item.category.name %></td>
  <td><%= item.rarity.name %></td>
  <td><%= item.attunement %></td>
  <% if admin_user? %>
      <td><%= link_to edit_item_path(item) do -%>
            <span class="glyphicon glyphicon-pencil" aria-label="edit"></span>
        <% end -%>
      </td>
      <td><%= link_to item, method: :delete, data: { confirm: "You sure?" } do -%>
            <span class="glyphicon glyphicon-remove" arial-label="delete"></span>
        <% end -%>
      </td>
  <% end %>
</tr>
