<div>
  <%= f.label :name, 'Name' %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, 'remove' %>
  
  <%= f.text_field :name %>
  <%= f.label :value, 'Value' %>
  <%= f.text_field :value %>
</div>