<div class="item">
  <%= f.hidden_field :position %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Trait</h3>
    </div>

    <div class="panel-body">
      <%= content_tag :div, class: 'row' do -%>
          <%= content_tag(:div, f.text_field(:name, class: 'form-control', placeholder: :name), class: 'col-sm-10') %>
          <%= content_tag :div, class: 'col-sm-2' do %>
              <%= content_tag :div, class: 'checkbox' do %>
                  <%= f.label :_destroy do %>
                      <%= f.check_box(:_destroy, "data-action": "attribute#remove") %><i class="bi-trash" aria-label="Remove"></i>
                  <% end -%>
              <% end -%>
          <% end -%>
      <% end %>

      <%= content_tag :div, class: 'row' do -%>
          <%= content_tag(:div, f.text_field(:value, class: 'form-control', placeholder: :value), class: 'col-sm-12') %>
      <% end %>
    </div>
  </div>
</div>
