<% provide(:title, @card.name) %>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Name: <%= @card.name %></li>
      <li>Category: <%= @card.category.name %></li>
      <li>Rarity: <%= @card.rarity.name %></li>
      <li>Attunement: <%= @card.attunement %></li>
      <li>Description: <%= @card.description %></li>
    </ul>
  </div>
</div>
