<%= render 'shared/error_messages', object: f.object %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= f.label :name, class: 'control-label col-sm-3' %>
    <%= content_tag(:div, f.text_field(:name, class: 'form-control'), class: 'col-sm-9') %>
<% end %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= content_tag :div, class: 'col-sm-offset-3 col-sm-9' do %>
        <%= content_tag :div, class: 'checkbox' do %>
            <%= f.label :shared do %>
                <%= f.check_box(:shared) %>Shared
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= f.label :cite, class: 'control-label col-sm-3' %>
    <%= content_tag(:div, f.text_field(:cite, class: 'form-control'), class: 'col-sm-9') %>
<% end %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= f.label :icon, class: 'control-label col-sm-3' %>
    <%= content_tag(:div, f.text_field(:icon, class: 'form-control'), class: 'col-sm-9') %>
<% end %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= f.label :color, class: 'control-label col-sm-3' %>
    <%= content_tag(:div, f.text_field(:color, class: 'form-control'), class: 'col-sm-9') %>
<% end %>

<%= content_tag :div, class: 'form-group' do -%>
    <%= f.label :contents, class: 'control-label col-sm-3' %>
    <%= content_tag(:div, class: 'col-sm-9') do -%>
        <%= f.text_area(:contents, class: 'form-control', rows: 10, style: ' white-space: pre-wrap;', 'aria-describedby' => 'content_help') %>
        <%= content_tag(:span, id: 'content_help', class: 'help-block') do -%>
            Use the card template language. You can find more information in the <a href="<%= help_path(anchor: 'card') %>" target="_blank">help</a>.
        <% end %>
    <% end %>
<% end %>

<%= render 'shared/tag_field', f: f %>
