<div class="field">
  <%= f.label :monsters_file %>
  <%= f.file_field :monsters_file %>
</div>
<div class="field">
  <%= f.label :spells_file %>
  <%= f.file_field :spells_file %>
</div>
<div class="field">
  <%= f.label :items_file %>
  <%= f.file_field :items_file %>
</div>
<div class="field">
  <%= f.label :references_file %>
  <%= f.file_field :references_file %>
</div>
