<h2>Select</h2>

<table class="table table-striped table-condensed">
  <tr>
    <th><%= check_box_tag 'selectAll', 'selectAll', false, class: 'input-sm' %></th>
    <th>Id</th>
    <th>Valid</th>
    <th>Name</th>
  </tr>
  <%# fields_for :imports, @card_import.imports do |ff| %>
  <% @card_import.imports.each do |import| %>
      <tr>
        <td><%= check_box_tag 'imports[][import]', 'true', import.import?, class: 'input-sm' %></td>
        <td><label><%= import.id %></label></td>
        <td><label><%= ' -- ' %></label></td>
        <td><%= text_field_tag 'imports[][name]', import.name, class: 'form-control input-sm' %></td>
      </tr>
  <% end %>
</table>
