<h2>Select</h2>

<table>
  <tr>
    <th>Import</th>
    <th>Id</th>
    <th>Valid</th>
    <th>Name</th>
  </tr>
  <%= f.fields_for :imports do |ff| %>
      <tr>
        <td><%= ff.check_box :import %></td>
        <td><%= ff.text_field :id, disabled: true %></td>
        <td><%= ' -- ' %></td>
        <td><%= ff.text_field :name, disabled: true %></td>
      </tr>
  <% end %>
</table>
