<h1>Import from cards</h1>

<%= form_for [:admin, @card_import] do |f| %>
    <% if @card_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@card_import.errors.count, "error") %> prohibited this import from completing:</h2>
          <ul>
            <% @card_import.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :monsters_file %>
      <%= f.file_field :monsters_file %>
    </div>
    <div class="field">
      <%= f.label :spells_file %>
      <%= f.file_field :spells_file %>
    </div>
    <div class="field">
      <%= f.label :items_file %>
      <%= f.file_field :items_file %>
    </div>
    <div class="field">
      <%= f.label :references_file %>
      <%= f.file_field :references_file %>
    </div>
    <div class="buttons"><%= f.submit "Import" %></div>
<% end %>