<h1>Import from cards</h1>

<%= form_for [:admin, @card_import], enforce_utf8: true do |f| %>
    <% if @card_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@card_import.errors.count, "error") %> prohibited this import from completing:</h2>
          <ul>
            <% @card_import.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render "#{@card_import.current_step}_step", f: f %>

    <div class="buttons"><%= f.submit "Import" %></div>
<% end %>