<div class="row">
  <div class="col-sm-3 col-md-2 col-xs-12 sidebar">
    <div class="row">
      <div class="col-xs-12">
        <h2>Filters</h2>
        <ul class="nav nav-sidebar">
          <% @filters.each do |filter| -%>
              <li><span><a href="<%= filter_path(filter) %>"><%= filter.name %></a>
                <% if policy(filter).destroy? -%>
                    <%= link_to filter, method: :delete, data: {confirm: 'You sure?'}, 'aria-label' => 'delete' do -%>
                        <span class="glyphicon glyphicon-remove"></span>
                    <% end -%>
                <% end -%>
              </span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 col-xs-12 main">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header search-header">
          <% if @filter.nil? -%>
              <h1>Search</h1>
          <% else -%>
              <h1 id="filter_title"><%= @filter.name %></h1>
          <% end -%>
          <ul class="filter-operations">
            <li>
              <button class="save-filter btn btn-default" data-toggle="modal" data-target="#saveFilterDialog" <%= 'disabled' unless policy(@filter).update? %>><%= @filter.nil? ? 'Save' : 'Save As' %></button>
            </li>
          </ul>
        </div>
        <div class="modal fade" id="saveFilterDialog" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <%= form_for @filter, url: {action: (@filter.new_record?) ? :create : :update}, html: { class: 'form-horizontal'} do |f| %>
                  <div class="modal-header">
                    <h4 class="modal-title">Save filter</h4>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" name="filter[query]" id="filter_query">
                    <div class="form-group">
                      <label for="filterName" class="control-label col-sm-3">Name</label>
                      <div class="col-sm-6">
                        <%= f.text_field(:name, class: 'form-control', placeholder: 'Name') %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-6">
                        <div class="checkbox">
                          <label for="filter_shared">
                            <%= f.check_box(:shared) %>Shared
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= submit_tag 'Save', name: nil, id: 'saveFilter', class: 'btn btn-primary' %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= form_tag filters_path, method: 'get', id: 'filter_search' do %>
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="popover" data-container="body" data-placement="bottom"
                        data-content="The search works on all card types but might return errors for those types the query is not applicable. For more details look in the <a href='<%= help_path(anchor: 'search') %>'>help</a>">
                  <span class="glyphicon glyphicon-question-sign"></span></button>
              </div>
              <% search = (@filter.nil?) ? params[:search] : @filter.query %>
              <%= text_field_tag :search, search, class: 'form-control', autocomplete: 'off', placeholder: 'Search for...' %>
              <div class="input-group-btn">
                <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                    <span class="glyphicon glyphicon-search"></span>
                <% end %>
                <%= link_to print_path(search: search), class: 'btn btn-default', target: '_blank' do %>
                    <span class="glyphicon glyphicon-print"></span>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%= content_tag :div, @error.html_safe, class: 'alert alert-danger' if @error %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th class="last"></th>
          </tr>
          <%= render partial: 'shared/card_column', collection: @cards, as: :card %>
        </table>
        <div id="modals">
          <%= render partial: 'shared/modal', collection: @cards, as: :card %>
        </div>
      </div>
    </div>
  </div>
</div>
