<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" role="navigation">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-ex1-collapse">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Workshop', root_url, id: 'logo', class: 'navbar-brand' %>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to "Monsters", monsters_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Items", items_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Spells", spells_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item"><%= link_to "Profile", current_user, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user), class: 'nav-link' %></li>
            <li class="divider"></li>
            <% if admin_user? %>
              <li class="nav-item"><%= link_to "Admin", admin_admin_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Full Admin(disabled)", "#" %></li>
              <li class="divider"></li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, class: 'nav-link', method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class: 'nav-link' %></li>
      <% end %>
    </ul>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="navbar-nav side-nav flex-column">
        <li class="nav-item">
          <%= link_to "Import", admin_import_path, class: "nav-link fa fa-fw" %>
        </li>
        <li class="nav-item">
          <%= link_to "Export", admin_export_path, class: "nav-link fa fa-fw" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
