<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" role="navigation">
  <div class="container-fluid">
    <%= link_to 'Workshop', root_url, id: 'logo', class: 'navbar-brand' %>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
        <% if policy(Filter).index? -%>
            <li class="nav-item"><%= link_to 'Filters', filters_path, class: 'nav-link' %></li>
        <% end -%>
        <% if policy(FreeForm).index? -%>
            <li class="nav-item"><%= link_to 'Cards', free_forms_path, class: 'nav-link' %></li>
        <% end -%>
        <% if policy(Monster).index? -%>
            <li class="nav-item"><%= link_to 'Monsters', monsters_path, class: 'nav-link' %></li>
        <% end -%>
        <% if policy(Item).index? -%>
            <li class="nav-item"><%= link_to 'Items', items_path, class: 'nav-link' %></li>
        <% end -%>
        <% if policy(Spell).index? or policy(Spellbook).index? -%>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Spells
              </a>
              <ul class="dropdown-menu">
                <% if policy(Spell).index? -%>
                    <li class="dropdown-item"><%= link_to 'Spells', spells_path %></li>
                <% end -%>
                <% if policy(Spellbook).index? -%>
                    <li class="dropdown-item"><%= link_to 'Spellbooks', spellbooks_path %></li>
                <% end -%>
              </ul>
            </li>
        <% end -%>
        <li class="nav-item">
          <%= link_to help_path, class: 'nav-link' do %>
              <span class="bi bi-question"></span>
          <% end %>
        </li>
        <% if logged_in? %>
            <li class="nav-item dropdown">
              <a href="#" id="account" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <%= gravatar_for current_user, size: 20 %>
              </a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <li class="dropdown-item"><%= link_to 'Profile', current_user %></li>
                <li class="dropdown-item"><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <% if admin_user? %>
                    <li class="dropdown-item"><%= link_to 'Admin', admin_admin_path %></li>
  <!--                  <li><%#= link_to 'Full Admin', rails_admin_path %></li>-->
                    <li class="divider"></li>
                <% end %>
                <li class="dropdown-item">
                  <%= link_to 'Log out', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="nav-item"><%= link_to 'Log in', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
