<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', "data-turbo-track": "reload"%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <%= javascript_importmap_tags %>
  <%= render 'layouts/shim' %>

  <%#= render 'layouts/livereload' if Rails.env.development?%>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/header' %>

  <div id="page-wrapper">
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%#= content_for?(:content) ? yield(:content) : yield %>
      <%= yield %>
      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</div>
</body>
</html>
