<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
  <%= render 'layouts/livereload' if Rails.env.development?%>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/header' %>

  <div id="page-wrapper">
    <div class="container">
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</div>
</body>
</html>
