<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'print', media: 'all', "data-turbo-track": "reload", defer: true%>
    <%= javascript_importmap_tags 'print' %>
    <%= render 'layouts/shim' %>
    <%#= render 'layouts/livereload' if Rails.env.development?%>
  </head>
  <body class="page-background">
    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="output-container" id="output-container">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
